In [1]:
import pandas as pd
import numpy as np

In [5]:
pd.Series({"a": 0, "b": 1, "c": 2, "e": 4}, index=["b", "c", "d", "a"])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [3]:
pd.__version__

'1.2.4'

In [6]:
pd.Series({"b":1, "a":0, "c": 2})

b    1
a    0
c    2
dtype: int64

In [8]:
type(np.NaN)

float

In [29]:
d = {
    "one": pd.Series([1, 2, 3], index=["c", "b", "a"]),
    "two": pd.Series([1, 2, 3, 4], index=["c", "a", "b", "d"]),
 }

In [30]:
print(pd.DataFrame(d))

   one  two
a  3.0    2
b  2.0    3
c  1.0    1
d  NaN    4

In [18]:
pd.DataFrame(d, index=["d", "b", "a"])

   one  two
d  NaN    4
b  2.0    3
a  3.0    2

In [19]:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

   two three
d    4   NaN
b    3   NaN
a    2   NaN

In [31]:
d = {
    'one': [1,2,3,4],
    'two': [1,2,3,4]
}

In [35]:
print(pd.DataFrame(d))

   one  two
0    1    1
1    2    2
2    3    3
3    4    4

In [46]:
print(pd.DataFrame(data=[[1, 2], [3, 4, 5]], index=["a", "b"], columns=['one','two','three']))

   one  two  three
a    1    2    NaN
b    3    4    5.0

In [56]:
print(pd.DataFrame(data=np.random.rand(2,3), index=["a", "b"], columns=['one','two','three']))

        one       two     three
a  0.662008  0.085735  0.331281
b  0.115360  0.358092  0.862477

In [57]:
np.random.rand(2,3).shape[0]

2

In [58]:
data = [[1,2],[3,4,5]]

In [59]:
df = pd.DataFrame(data=[[1, 2], [3, 4, 5]], index=["a", "b"], columns=['one','two','three'])

In [60]:
df

   one  two  three
a    1    2    NaN
b    3    4    5.0

In [63]:
data[1][1] = 3

In [64]:
df

   one  two  three
a    1    2    NaN
b    3    4    5.0