In [1]:
import pandas as pd
import numpy as np

In [5]:
pd.Series({"a": 0, "b": 1, "c": 2, "e": 4}, index=["b", "c", "d", "a"])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [3]:
pd.__version__

'1.2.4'

In [6]:
pd.Series({"b":1, "a":0, "c": 2})

b    1
a    0
c    2
dtype: int64

In [8]:
type(np.NaN)

float

In [17]:
d = {
    "one": pd.Series([1, 2, 3], index=["c", "b", "a"]),
    "two": pd.Series([1, 2, 3, 4], index=["c", "a", "b", "d"]),
 }

In [15]:
print(pd.DataFrame(d))

   one  two
a  3.0    2
b  2.0    3
c  1.0    1
d  NaN    4

In [18]:
pd.DataFrame(d, index=["d", "b", "a"])

   one  two
d  NaN    4
b  2.0    3
a  3.0    2

In [19]:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

   two three
d    4   NaN
b    3   NaN
a    2   NaN

In [21]:
pd.Series(data=[0, 1, 2], index=["a", "b", "c", "d"], name="meow")

ValueError: Length of passed values is 3, index implies 2.